.popup {
    display: flex;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .25s ease, visibility .25s ease;
    width: 100vw;
    height: 100vh;
}

.popup-opened {
    visibility: visible;
    opacity: 1;
}
