.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 880px;
    min-height: 119px;
    padding-top: 45px;
    box-sizing: border-box;
}
