.footer {
    max-width: 318px;
    padding-top: 66px;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}
